.error{
    color:red;
    margin-top: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.sucesso{
    color:green;
    margin-top: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.entrada{
    opacity: 1;
}

body{
    font-family: Arial, sans-serif;
    background-color: rgb(223, 228, 233);
    margin: 0;
    padding: 20px;
}

#app{
    max-width: 500px;
    margin: 0 auto;
    background-color: rgb(239, 200, 121);
    padding: 20px;
    box-shadow: 1px 1px 10px gray;
    border-radius: 10px;
    text-align: center;
}

h1{
    margin-top: 0;
}

form{
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-bottom: 20px;    
    border-radius: 10px;
}

label{
    margin-bottom: 10px;
}

.labelCadastro{
    display: block;
    margin-bottom: 10px;
    margin-top: 15px;
}

input[type="text"], input[type="password"]{
    padding: 10px;
    border-radius: 10px;
    /* border-color: red; */
    /* border-style: solid; */
    border: none;
    margin-bottom: 10px;
}

.textos{
    width: 85%;      
    font-size: 16px;
}

button{
    padding: 10px;
    background-color:green;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 15px;
    margin-right: 10px;
    margin-top: 15px;
}

button:hover{
    background-color:rgb(2, 62, 2);
}

.lista{
    margin-top: 20px;
    border: 1.5px solid rgb(115, 112, 115);
    border-radius: 10px;
    padding: 15px;
    background-color: rgb(242, 230, 138);   
}

ol{
    margin-top: 10px;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-items: center;
}

li{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-style: solid;
    border-color: rgb(115, 112, 115);
    padding-left: 10px;
    margin-left: 0px;
    border-radius: 10px;
    background-color: white;
}

