body{
    /*Estilos referentes ao corpo do html*/
    background-color: rgb(199, 203, 202);
    font-family: Verdana, sans-serif;
    color: green;
}

h1{
    text-align:center;
    color: rgba(2, 14, 93, 1);
    margin-top: 80px;
}

ul{
    list-style-type: none;
    margin:0;
    padding:0;
    display: flex;
    justify-content: center;
}

li{
    margin:10px;
}

a{
    display: block;
    text-align: center;
    color:rgb(240, 240, 240);
    background-color: rgba(2, 14, 93, 1);
    padding: 10px 15px;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}